 
body {
    background: linear-gradient(45deg, #596de0 0%, #6474da 51%, #7f40b9 96%);
    text-align: centre;
    height: 2500px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #BD3B70;
    text-align: left;
    text-size-adjust: 50px;
    font-family: Consolas;
}

p {
    color: #da75bb;
   

    font-family: Consolas;
}

div.samplebox {
  background-color: rgb(44, 51, 78);
	margin: 80px 10%;
	padding: 30px 60px;
	border-radius: 20px;
  box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
  color: white;
  font-size: large;
  font-family: Consolas;
}

header {
  position: fixed;
  width: 77.5%;
  margin: 0px 10%;
  top: 0;
  box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
  left: 0;
  background-color: rgb(44, 51, 78);
  color: white;
  font-size: large;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  font-family: Consolas;
  border-bottom-left-radius :25px;
  border-bottom-right-radius :25px;
}
